@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#fuenteTitulo{
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    margin-left: 1rem;
}

.textoPrincipal{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    color: white;
    margin: 0;
    animation: aparecer 2s ease-out;
    text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.7);
}

.textoCuadrados{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 130%;
    color: white;
    margin: 0;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




